{% extends 'base.html.twig' %}

{% block title %}Connecter!{% endblock %}

{% block body %}
<form method="post">
    
    <div class="login-background">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecter avec {{ app.user.email }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <div class="login-form-background">

            <img class="logo-login" src="{{ asset('build/images/logo-login.png') }}" alt="ACME logo login">

            <div class="login-form-container">

                <h1 class="login-title">Ravi de vous revoir,
Connectez-vous !</h1>

                <div class="login-form">
                    <div>
                        <input class="mobile-input" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="nom d'utilisateur"
                        style="background-image: url('{{ asset('build/images/profil-bleu.png') }}'); background-repeat: no-repeat; background-size: 3.5rem; background-position: left 1.5rem center;"
                        autocomplete="email" required autofocus>
                    </div>
                    <div>
                        <input class="mobile-input" type="password" name="password" id="inputPassword" placeholder="************"
                        style="background-image: url('{{ asset('build/images/password-bleu.png') }}'); background-repeat: no-repeat; background-size: 3rem; background-position: left 1.7rem center;"
                        autocomplete="current-password" required>
                    </div>
                </div>
                

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="login-btn" type="submit">
                    Se connecter
                </button>
            </div>
        </div>

    </div>

    {# <button class="btn btn-lg btn-primary" type="submit">
        Valider
    </button> #}
</form>
{% endblock %}
