{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}

    <h1 class="list-title">Liste de contacts</h1>

    <div class="list-background">

        <div class="infos-container">
            {% for contact in contacts %}
                <div class="infos">
                    {# <h4>{{ contact.id }}</h4> #}
                    <h4>{{ contact.firstname }}</h4>
                    <h4>{{ contact.lastname }}</h4>
                    <h4>{{ contact.phoneNumber }}</h4>
                    <h4>{{ contact.email }}</h4>
                    <h4>{{ contact.country }}</h4>
                    <h4>{{ contact.city }}</h4>
                    <h4>{{ contact.adress }}</h4>
                    <h4>
                        <a href="{{ path('contact_show', {'id': contact.id}) }}">Afficher</a>
                        <a href="{{ path('contact_edit', {'id': contact.id}) }}">Modifier</a>
                    </h4>
                </div>
            {% else %}
                <h4>Ajoutez de nouveaux contacts</h4>
            {% endfor %}
        </div>

        <a class="create-btn" href="{{ path('contact_new') }}">Ajouter</a>

    </div>

{% endblock %}
