{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}

    <div class="list-background">

        <div class="top-page">

            {# <img class="logo-contact" src="{{ asset('build/images/E-contact.png') }}" alt="ACME logo"> #}
            <a href="{{ path('category_index') }}"><img class="category" src="{{ asset('build/images/category.png') }}" alt="ACME category"></a>
            <h1 class="list-title">Contacts</h1>
            {% if app.user %}<a class="deconnexion" href="{{ path('app_logout') }}"><img class="logout" src="{{ asset('build/images/logout.png') }}" alt="ACME logout"></a>{% endif %}
        
        </div>


        <div class="infos-background">

            <div class="infos-container">
                {% for contact in contacts %}
                    <div class="infos">
                        {# <h4>{{ contact.id }}</h4> #}
                        <div class="h4"> 
                            <input type="checkbox" class="checkbox" name="checkbox" value="{{ contact.id }}">
                            <img class="profil-icon" src="{{ asset('build/images/profil-icon.png') }}" alt="ACME profil icon">
                            <a class="name-link" href="{{ path('contact_show', {'id': contact.id}) }}"><h4 class="name">{{ contact.firstname }} {{ contact.lastname }}</h4></a>
                        </div>
                        <div class="actions-btn">
                            <a href="{{ path('contact_edit', {'id': contact.id}) }}"><img class="edit-logo" src="{{ asset('build/images/edit-logo.png') }}" alt="ACME edit logo"></a>
                        </div>
                    </div>
                {% else %}
                    <h4 class="empty-title">Ajoutez de nouveaux contacts</h4>
                {% endfor %}
            </div>

        </div>

        <a class="create-btn" href="{{ path('contact_new') }}"><img class="logo-plus" src="{{ asset('build/images/logo-plus.png') }}" alt="ACME logo plus"></a>

    </div>

{% endblock %}
