{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="show-background">

        <div class="show-container">

            <div class="show-entête">
                <div class="profil-logo">
                    <img class="profil-picture" src="{{ asset('build/images/profil-icon.png') }}" alt="ACME logo">
                    <img class="profile-picture" src="{{ asset('build/images/profil-icon-DM.png') }}" alt="ACME logo">
                </div>
                <h1 class="show-title">{{ contact.firstname }} {{ contact.lastname }}</h1>
                <h4 class="show-category">{{ contact.category.name }}</h4>
            </div>

            <div class="show-scroll">

                <div class="phone-number">
                    {% for PhoneNumber in PhoneNumbers %}
                        <div class="show-nea">
                            <div class="show-h4"> 
                                <div><h4 class="libellé">{{ PhoneNumber.name }}</h4></div>
                                <div><h4 class="name">{{ PhoneNumber.number }}</h4></div>
                            </div>
                            <div class="actions-btn">
                                <a href="{{ path('phone_number_edit', {'id': PhoneNumber.id}) }}"><img class="edit-logo" src="{{ asset('build/images/edit-logo.png') }}" alt="ACME edit logo"></a>
                            </div>
                        </div>
                    {% endfor %}

                    <a href="{{ path('phone_number_new', {'id': contact.id}) }}" class="add-more">+ Ajoutez un numéro</h4>
                </div>

                <div class="email">
                    {% for Email in Emails %}
                        <div class="show-nea">
                            <div class="show-h4"> 
                                <div><h4 class="libellé">{{ Email.name }}</h4></div>
                                <div><h4 class="name">{{ Email.email }}</h4></div>                       
                            </div>
                            <div class="actions-btn">
                                <a href="{{ path('email_edit', {'id': Email.id}) }}"><img class="edit-logo" src="{{ asset('build/images/edit-logo.png') }}" alt="ACME edit logo"></a>
                            </div>
                        </div>
                    {% endfor %}

                    <a href="{{ path('email_new', {'id': contact.id}) }}" class="add-more">+ Ajoutez un adresse e-mail</h4>
                </div>

                <div class="adress">
                    {% for Adress in Adresses %}
                        <div class="show-nea">
                            <div class="show-h4"> 
                                <div><h4 class="libellé">{{ Adress.name }}</h4></div>
                                <div><h4 class="name">{{ Adress.adress }} {{ Adress.city }} {{ Adress.country }}</h4></div>                       </div>
                            <div class="actions-btn">
                                <a href="{{ path('adress_edit', {'id': Adress.id}) }}"><img class="edit-logo" src="{{ asset('build/images/edit-logo.png') }}" alt="ACME edit logo"></a>
                            </div>
                        </div>
                    {% endfor %}

                    <a href="{{ path('adress_new', {'id': contact.id}) }}" class="add-more">+ Ajoutez une adresse</h4></a>
                </div>

            </div>
            
        </div>

        <a class="edit-btn" href="{{ path('contact_edit', {'id': contact.id}) }}"><img class="edit" src="{{ asset('build/images/edit-logo.png') }}" alt="ACME edit logo"></a>

        {{ include('contact/_delete_form.html.twig') }}

        <a class="return-btn"href="{{ path('contact_index') }}"><img class="retour" src="{{ asset('build/images/retour.png') }}" alt="ACME retour"></a> 

    </div>

{% endblock %}
