{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="show-background">
        
        <img class="profil-logo" src="{{ asset('build/images/profil-picture.png') }}" alt="ACME logo">

        <h1 class="show-title">{{ contact.firstname }} {{ contact.lastname }}</h1>

        <form name="show-contact">
            <div class="form-background">
                <div>
                    <label for="number"></label>
                    <input class="show-input" type="text" id="phone_number" value="{{ contact.phoneNumber }}">
                </div>
                <div>
                    <label for="email"></label>
                    <input class="show-input" type="email" id="email" value="{{ contact.email }}">
                </div>
                <div>
                    <label for="country"></label>
                    <input class="show-input" type="text" id="country" value="{{ contact.country }}">
                </div>
                <div>
                    <label for="city"></label>
                    <input class="show-input" type="text" id="city" value="{{ contact.city }}">
                </div>
                <div>
                    <label for="adresse"></label>
                    <input class="show-input" type="text" id="adresse" value="{{ contact.adress }}">
                </div>
            </div>
        </form>

        <div class="two-show-btn">
            <a class="show-btn" href="{{ path('contact_edit', {'id': contact.id}) }}">Modifier</a>
            <a class="show-btn"href="{{ path('contact_index') }}">Retour</a>
        </div>

        {{ include('contact/_delete_form.html.twig') }}

    </div>

{% endblock %}
