{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="show-background">

        <div class="show-entête">
            <div class="profil-logo">
                <img class="profil-picture" src="{{ asset('build/images/profil-icon.png') }}" alt="ACME logo">
            </div>
            <h1 class="show-title">{{ contact.firstname }} {{ contact.lastname }}</h1>
        </div>



        {% for PhoneNumber in PhoneNumbers %}
            <div class="infos">
                <div class="h4"> 
                    <input type="checkbox" class="checkbox" name="checkbox" value="{{ PhoneNumber.id }}">
                    <img class="profil-icon" src="{{ asset('build/images/profil-icon.png') }}" alt="ACME profil icon">
                    <h4 class="name">{{ PhoneNumber.name }} : {{ PhoneNumber.number }}</h4>                        </div>
                <div class="actions-btn">
                    <a href="{{ path('phone_number_edit', {'id': PhoneNumber.id}) }}"><img class="edit-logo" src="{{ asset('build/images/edit-logo.png') }}" alt="ACME edit logo"></a>
                </div>
            </div>
        {% endfor %}

        <a href="{{ path('phone_number_new', {'id': contact.id}) }}" class="empty-title">Ajoutez un nouveau numéro de téléphone</h4>
        <a href="{{ path('phone_number_index', {'id': contact.id}) }}" class="empty-title">index_phone</h4>

        {% for Email in Emails %}
            <div class="infos">
                <div class="h4"> 
                    <input type="checkbox" class="checkbox" name="checkbox" value="{{ Email.id }}">
                    <img class="profil-icon" src="{{ asset('build/images/profil-icon.png') }}" alt="ACME profil icon">
                    <h4 class="name">{{ Email.name }} : {{ Email.email }}</h4>                        </div>
                <div class="actions-btn">
                    <a href="{{ path('email_edit', {'id': Email.id}) }}"><img class="edit-logo" src="{{ asset('build/images/edit-logo.png') }}" alt="ACME edit logo"></a>
                </div>
            </div>
        {% endfor %}

        <a href="{{ path('email_new', {'id': contact.id}) }}" class="empty-title">Ajoutez un nouvelle adresse e-mail</h4>
        <a href="{{ path('email_index', {'id': contact.id}) }}" class="empty-title">index_email</h4>

        {% for Adress in Adresses %}
            <div class="infos">
                <div class="h4"> 
                    <input type="checkbox" class="checkbox" name="checkbox" value="{{ Adress.id }}">
                    <img class="profil-icon" src="{{ asset('build/images/profil-icon.png') }}" alt="ACME profil icon">
                    <h4 class="name">{{ Adress.name }} : {{ Adress.adress }} {{ Adress.city }} {{ Adress.country }}</h4>                        </div>
                <div class="actions-btn">
                    <a href="{{ path('adress_edit', {'id': Adress.id}) }}"><img class="edit-logo" src="{{ asset('build/images/edit-logo.png') }}" alt="ACME edit logo"></a>
                </div>
            </div>
        {% endfor %}

        <a href="{{ path('adress_new', {'id': contact.id}) }}" class="empty-title">Ajoutez un nouvelle adresse</h4>
        <a href="{{ path('adress_index', {'id': contact.id}) }}" class="empty-title">index_adress</h4>



        <a class="edit-btn" href="{{ path('contact_edit', {'id': contact.id}) }}"><img class="edit" src="{{ asset('build/images/edit-logo.png') }}" alt="ACME edit logo"></a>

        {{ include('contact/_delete_form.html.twig') }}

        <a class="return-btn"href="{{ path('contact_index') }}"><img class="retour" src="{{ asset('build/images/retour.png') }}" alt="ACME retour"></a> 

    </div>

{% endblock %}
